<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/main.css">
  <title>Restofav</title>
</head>
<body>
  <a href="#content" class="skip-content">Skip to content</a>
  <header>
    <nav>
      <a href="#" class="nav__title">Restofav</a>
      <ul class="nav__menu">
        <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Favorites</a></li>
        <li class="nav__item"><a href="https://github.com/hagadigi" target="_blank" class="nav__link">About</a></li>
      </ul>
      <div class="hamburger">
        <span class="hamburger__bar"></span>
        <span class="hamburger__bar"></span>
        <span class="hamburger__bar"></span>
      </div>
    </nav>
  </header>
  <section class="hero">
    <div class="hero__container">
      <h1 class="hero__title" tabindex="0">Restofav</h1>
      <p class="hero__tagline" tabindex="0">find your favorite restaurant with the best services</p>
    </div>
  </section>
  <main>
    <div class="content" id="content">
      <h2 class="content__title" tabindex="0">Restaurant Catalogue</h2>
      <div class="content__posts">

      </div>
    </div>
  </main>
  <footer>
    <p tabindex="0">Copyright &copy;2022 - Restofav<br>R009X0063</p>
  </footer>
</body>
</html>